{{ define "main" }}
  <div class="rp-page-header">
    <h1>Moods of {{ now.Format "2006" }}</h1>
  </div>
  {{ range partialCached "func/GetYearMoods" "GetYearMoods" }}
    <div class="my-12">
      <div class="rp-Heading">{{ .name }}</div>
      <div class="grid-square">
        {{ range .days }}
        <div class="rp-Mood">
          <div class="rp-Mood__text">{{ .day.Format "2" }}</div>
          {{ with $mood := .mood }}
            {{ with .Params.emoji }}
            <div title="{{ $mood.Title }}" class="rp-Mood__emoji">
              {{ . }}
            </div>
            {{ end }}

          {{ end }}
        </div>
      {{ end }}
      </div>
    </div>
  {{ end }}

{{ end }}