/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #444444; color:#fff; text-shadow: none; }
::selection { background:#444444; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #444444; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }


/*MY RESET*/

li{list-style:none;}
a{text-decoration:none}

/*MY CONSTANTS
colors =>
light: #b3e4de
dark:#44b6ae;
                      */
/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/


@font-face{
    font-family: "Audimat";
    src: url(fonts/AUdimat-Regular.eot);/*for IE*/
    src: local("AUdimat Regular"), local('audimat-regular'),
         url('fonts/AUdimat-Regular.otf') format('opentype'),
         url('fonts/AUdimat-Regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Audimat";
    src: url(fonts/AUdimat-Bold.eot);/*for IE*/
    src: local("AUdimat Bold"), local('audimat-bold'),
         url('fonts/AUdimat-Bold.otf') format('opentype'),
         url('fonts/AUdimat-Bold.ttf') format('truetype');

    font-weight: bold;
    font-style: normal;
}



body{
  background:url(img/body_bg.gif);
  font-family:Helvetica, Arial, sans-serif;
  color:#303030;
}

::selection {background:black; color:#fff; text-shadow: none; }
::selection {background:#fff; color:#44b6ae; text-shadow: none; }

p, a, a:visited, input{color:#303030;}
a{cursor:pointer;}
a:hover{color:white}
a.yellow{background:#e6d223;padding:0 3px;}
#about del{
    text-decoration:none;
    background:url(img/del_bg.gif) repeat-x 0 23px;
}
.dashwhite, .dashcolor{
  position:absolute;
  width:100%;height:1px;z-index:-1
}
.dashcolor{
  background:url(img/dash_color.png) repeat-x;
}
.dashwhite{
  background:url(img/dash_white.png) repeat-x;
}
.warning{
  position:absolute;
  z-index:15;
  width:100%;height:100%;
  background:url(img/warning_bg.png);
}
#old_error{display:none;}
    .js .warning{
      display:none;
    }
    .warning_container{
      position:relative;top:40%;
      margin:0 auto;
      width:80%;max-width:1000px;
    }
    .warning_lang{
        width:100%;
        text-align:right;
    }
    .warning h3{
      font-size:20px;
    }
    .warning p{
      font-size:18px;
    }
    .warning p span{
        cursor:pointer;
        font-weight:bold;
    }

    .warning p.face{
        font-size:220px;
        float:left;padding:0;
        margin:-50px 25px -50px 0;
        letter-spacing:.1em;
    }
    .warning a{
        padding:0 3px;
        background:#e6d223;
    }

.js-warning{
    background:#e6d223;
    text-align: left;
    font-size: 0.9em;
    height:38px;width:100%;
    padding:3px 5px 3px 5px;
    box-sizing:border-box;
}
.js-warning a{
  text-decoration: underline;
}
.js-warning strong{
    font-size:1.1em;
}
/*MENU*/
#menu{
  position:fixed;
  z-index:10;
  width:931px;
  margin:0 auto;height:0;
}
    #menu .left{
        height:0;
        float:none;
        position:absolute;left:0;
    }
    #menu .right{
        position:absolute;right:0;float:none;
        height:38px;margin-right:1px;
    }
    #menu .nav_box{
      font:bold 18px Audimat;
      margin-left:1px;
      text-align:center;line-height:38px;
      color:#44b6ae;
      border-left:none;
      background:rgba(255, 255, 255, 0.9);
    }
    .no-rgba #menu .nav_box{background:url(img/menu_li_bg.png)}

    #menu .nav_box:first-child, #menu .nav_box.active:first-child{margin-left:0;}

    #menu .nav_box.active{
        color:black;
        background:#b3e4de;
    }
    #menu .nav_box a{
        color:#44b6ae;
        color:inherit;
    }
    #menu .nav_box a:hover, #menu .nav_box a.hovered{
      color:#0d0a0c;
    }
    #container .lang{
      position:absolute;
      z-index:11;
      right:-20px;top:0;
      font-family: Audimat;
    }
        .lang li{
          width:19px;height:19px;
          text-align:center;
          line-height:19px;
        }
        .lang a{
            text-transform:uppercase;
            font-size:13px;
            font-family:Audimat;

        }
        .lang a:hover{
            color:inherit;
        }
        .lang a.inactive{

            color:white;
        }
        .lang a.inactive:hover{
            color:inherit;
            text-decoration:none;
        }
/*INSIDE THE CONTAINER*/
#container{
  position:relative;
  width:930px;
  margin:0 auto;
  border-left:dashed 1px white;
  border-right:dashed 1px white;
}
    /*GENERICS*/

.top_margin{
  height:38px;
  margin-bottom:1px;
}
.top{
  height:74px;width:100%;
  position:relative;
}
/*TOP LEFT*/
.top .left{
    cursor:pointer;
}
#about .top .left{
    cursor:default;
}
    .top .mouse{
        position:absolute;
        width:39px;height:39px;
        bottom:8px;left:-21px;
        background-image:url(img/logo_mouse.png);
        background-position:0;
    }
    .top .dialog{
    display:none;
      position:absolute;bottom:46px;left:0;
      padding: 0 0 28px 21px;
      background:url(img/dialog_oblique.png) bottom left no-repeat;
    }
        .top .dialog span{
          display:block;
          max-width:150px;
          background:url(img/dialog_span_bg.png) bottom repeat-x;


        }
    .top .logo{
    position:absolute;left:28px;bottom:5px;
    }
    .top .baseline{
      position:absolute;
      bottom:5px;right:0;
      width:168px;
      font:normal 18px "Audimat";
      color:white;
    }

.main{
  padding:0;
  margin-bottom:1px;
}
/*THE GENERIC LEFT AND RIGHT used for top, bottom, menu etc...*/
.left{
    float:left;
    position:relative;
    width:490px;height:100%;
  border-right:1px dashed white;

}
.right{
    float:left;/*extra careful with that, is here to solve the firefox ss which didn't float.*/
  width:439px;height:100%;
  overflow:hidden;
}
        .right .nav_box{
          float:left;
          width:109px;height:100%;
          border-left:dashed 1px white;
          background:url(img/ver_dash.png) center repeat-y;
        }
        .right .nav_box:first-child{border:none;}
        .right .nav_box.none{background:none;}
        .right .nav_box.arrow{
          background:url(img/ver_dash_arrow.png) center top no-repeat;
        }

.bottom{
        height:52px;
}
    .socials{
            width:100%;height:100%;
            position:relative;
    }
/*Had to relatively offset the span of 3px down,
and correct the height of its parent to make sure the dash bg was still centered*/
        .socials div{
                background:url(img/hor_dash.png) center repeat-x;
                line-height:52px;
        }
            .socials div span{
                    padding:0 10px;
                    position:relative;top:3px;
                    font:normal 23px "Audimat";
                    color:#44b6ae;
                    background:url(img/body_bg.gif);
            }
    .socials ul{
            position:absolute;
            right:0;top:10px;
            overflow:hidden;
            padding-left:5px;
            padding-right:10px;
            background:url(img/socials_ul_bg.gif) center left no-repeat;
    }
        .socials li{
                float:left;
                width:32px;
                margin-right:10px;
        }

    .socials a{
            display:block;
            width:32px;height:32px;
            margin-left:10px;
    }
    .socials a.tw{background:url(img/socials_a_tw.png);}
    .socials a.in{
            background:url(img/socials_a_in.png);}

.blank{
  height:312px;
}


/*ALL THE DIFFERENT CONTENTS*/

/*//////////////////////# A B O U T/////////////////////////////////*/

        #about .main{
          background:#b3e4de;
          padding:10.752% 12.903%;
          font-size:36px;
        }
            #about .main a{
              background:#e6d223;
              padding:0 3px;
            }

/*//////////////////////# W O R K S ////////////////////////////////*/

        #works .main{
          padding:0;
          height:496px;
          position:relative;
        }
        #works .main .right{
          float:left;/*stays here in case the general float left on '.right' has to be abandoned*/
        }
            .main .work{
              background:#b3e4de;
              position:absolute;
              height:496px;
            }
            .main .worknav{
              width:880px;height:32px;
              position:absolute;left:20px;top:20px;
              padding:0 5px;
              z-index:5;
              background:white;
            }
                .worknav span, .worknav a{
                  float:left;
                }
                .worknav a{
                  width:68px;height:100%;
                  color:inherit;
                  cursor:pointer;
                  line-height:32px;

                }
                .worknav a:hover{
                    color:#e6d223;
                }
                    a.worknav_left{
                      background:url(img/worknav_left_bg.png) left no-repeat;
                      padding-left:32px;
                    }
                    a.worknav_right{
                      background:url(img/worknav_right_bg.png) right no-repeat;
                      padding-right:32px;
                      text-align:right;
                    }
                .worknav span{
                  width:680px;
                  line-height:37px;
                  text-align:center;
                  font-family:Audimat;
                  font-size:24px;
                  color:#44b6ae;
                }
            .main .work .left{
              font-size : 14px;
              height:100%;
              position:relative;
            }
                .main .work .left p{
                  margin:10px auto;
                  width:79.591%;
                  text-align:justify;
                }
                .main .work .left p.intro{
                  text-shadow:1px 1px #44b6ae;
                  color:white;
                  font-size:20px;
                  font-weight:bold;
                  text-align:center;
                  margin:10px auto 15px auto;
                }
                .main .work .left p.brandlink{
                  text-align:right;
                  margin-top:15px;
                }
                    .main .work .left p.brandlink a{
                      background:#e6d223;
                      padding:5px;
                      font-size : 16px;
                    }
                .main .work .left img{
                  display:block;
                  margin:75px auto 20px auto;
                  max-height:120px;
                }

                .main .work .ribbon{
                position:absolute;
                bottom:33px;right:-36px;
                width:166px;height:29px;
                text-align:center;
                /*background:#44b6ae;*/
                background:url(img/ribbon_bg.png) no-repeat center;
                font-family:Audimat;
                font-size:20px;
                line-height:29px;
                color:#fff;
                /*clip:rect(0px,60px,200px,0px);*/
                transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                }
                .main .work .ribbon span{


                }

/*//////////////////////# S K I L L S ////////////////////////////////*/

    #skills .main{
        overflow:hidden;
        background:#b3e4de;
    }
        #skills .main .left{
            background-color:#44b6ae;
            width:466px;padding:12px;
        }
        #skills .badge{
          float:left;
          display:block;
          margin:0;
          width:115px;height:111px;
          cursor:pointer;
        }
        .c01{background:url(img/badges/01.gif)}
        .c02{background:url(img/badges/02.gif)}
        .c03{background:url(img/badges/03.gif)}
        .c04{background:url(img/badges/04.gif)}
        .c05{background:url(img/badges/05.gif)}
        .c06{background:url(img/badges/06.gif)}
        .c07{background:url(img/badges/07.gif)}
        .c08{background:url(img/badges/08.gif)}
        .c09{background:url(img/badges/09.gif)}
        .c10{background:url(img/badges/10.gif)}
        .c11{background:url(img/badges/11.gif)}
        .c12{background:url(img/badges/12.gif)}
        .c13{background:url(img/badges/13.gif)}
        .c14{background:url(img/badges/14.gif)}

        #skills .badge:hover{
          background-position:0 111px;
        }
        #skills .badge.empty01:hover, #skills .badge.empty02:hover, #skills .badge.empty03:hover{background-position:0 0;cursor:default}
        #skills .badge.empty01{background-image:url(img/badges/empty01.gif);}
        #skills .badge.empty02{background-image:url(img/badges/empty02.gif);}
        #skills .badge.empty03{background-image:url(img/badges/empty03.gif);}


        #skills .quote.welcome{
                display:block;
            }
        #skills .main .right .quote{

            position:absolute;
            width:439px;height:449px;
            overflow:hidden;
            background-color:#b3e4de;
        }
        #skills .right .quote a{
            color:inherit;
            text-decoration:underline;
        }
        #skills .quote{
            overflow:hidden;
        }
            #skills .welcome{
                display:block;
            }
        #skills .main .right td{
            position:relative;
            text-align:center;
            color:white;
            text-shadow:1px 1px #44b6ae;
        }
        #skills .main .right .content{
            padding:17px;height:189px;
            vertical-align:middle;
            font-size:30px;
        }
        .no-textshadow  #skills .main .right td{color:inherit;}

        #skills .main .right .between{
          height:30px;
          background:url(img/skills_between_bg.png) no-repeat center;
        }
        #skills .main .right .image{
            vertical-align:middle;
            height:189px;
        }
        #skills .main .right img{
            display:inline;
            vertical-align:middle;
        }

    #contact .main{
      height:491px;
    }
        #contact .right{
          position:relative;
        }
    #contact div.text, #contact .main a{
      display:block;
      position:absolute;
    }
    #contact div.text{
      width:185px;height:186px;
      top:0;left:0;
      border-right:dashed 1px white;
      background-color:#44b6ae;
      padding:30px;font-size:16px;
    }
        #contact div.text p{
            margin-bottom:7px;
            font-size:27px;
            color:white;
        }
    #contact a .content{
      width:100%;height:100%;
      position:absolute;
      z-index:0;background-repeat:no-repeat;
    }
    #contact a .yellow{
      position:absolute;
      background:#e6d223;background-repeat:no-repeat;
      height:0;width:100%;
      z-index:1;border:none;
      transition:height .3s ease-in-out;
        -webkit-transition:height .3s ease-in-out;
        -moz-transition:height .3s ease-in;
        -o-transition:height .3s ease-in;
    }
    .no-touch #contact a:hover .yellow, .no-js #contact a:hover .yellow{
      height:100%;
    }

    #contact a.skype{
      top:0;left:246px;
      width:244px;height:246px;
      border-bottom:dashed 1px white;
    }
        #contact a.skype .content{
          background-image:url(img/skype_bg.png);
        }
        #contact a.skype .yellow{
          background-image:url(img/skype_yellow_bg.png);
        }
    #contact a.mail{
      top:247px;left:245px;
      width:244px;height:244px;
      border-left:dashed 1px white;
    }
        #contact a.mail .content{
          background-image:url(img/mail_bg.png);
        }
        #contact a.mail .yellow{
          background-image:url(img/mail_yellow_bg.png);
        }
    #contact a.phone{
      top:246px;left:0;
      width:245px;height:244px;
      border-top:dashed 1px white;
    }
        #contact a.phone .content{
          background:url(img/phone_bg.png) no-repeat;
        }
        #contact a.phone .yellow{
          background-image:url(img/phone_yellow_bg.png);
        }
            #contact a p.link{
                position:absolute;bottom:55px;
                z-index:3;
                width:100%;
                text-align:center;
                font-size:17px;
                color:#44b6ae;
                transition-duration:.3s;
                transition-timing:ease-in;
                transition-delay:.15s;
                    -webkit-transition-duration:.3s;
                    -webkit-transition-timing:ease-in;
                    -webkit-transition-delay:.15s;
                    -o-transition-duration:.3s;
                    -o-transition-timing:ease-in;
                    -o-transition-delay:.15s;
                    -moz-transition-duration:.3s;
                    -moz-transition-timing:ease-in;
                    -moz-transition-delay:.15s;
            }
             .no-touch #contact a:hover  p.link, .no-js #contact a:hover p.link{
              color:white;
            }

    #contact form{
        position:absolute;
        padding:20px;
        width:399px;
        background:white;
    }
        #contact form label{
            display:block;
            position:relative;
            width:100%;
            color:#b3e4de;
            font-family:Audimat;
        }
            #contact form label span{
                display:none;
                position:absolute;
                bottom:1px;right:5px;/*Check with Mariane*/
                padding-right:3px;
                font-size:15px;
                font-family:Helvetica, Arial, serif;
                color:#a09217;
                text-align:right;
            }
            #contact input, textarea{
                display:block;
                margin:0 0 15px 0;
                outline-color:#44b6ae;
                font-size:16px;
                border:none;
                background:url(img/body_bg.gif);
                resize:none;
                }
        #contact input{height:25px;padding:0 5px;width:387px;}
        #contact textarea{height:164px;width:387px;padding:5px;}
        #contact label{font-size:24px;}

        #contact div.submit{
          width:398px;height:30px;
          background:#e6d223;
          position:relative;
          cursor:default;
        }
            #contact div.submit button{
                position:absolute;
                display:block;
                right:0;
                height:30px;
                border:none;
                background:none;
                font-size:24px;
                font-family:Audimat;
                text-align:right;
                color:white;
                cursor:pointer;
    }
        #contact div.submit .chevrons{
          height:29px;
          line-height:29px;
          position:absolute;top:0;left:0;
          z-index:2;
          font-size:18px;
          padding-left:15px;
          letter-spacing:5px;
        }
            #contact div.submit .chevrons span{
              opacity:.3;
              color:white;
            }

#contact .form_printed{
    display:none;
    position:absolute;
    width:100%;
    font-size:20px;
    margin:10% 0;
}
    #contact .form_printed h2{
      width:100%;
      margin-bottom:15px;
      font:bold 40px Audimat;
      text-align:center;
      color:#44b6ae;
      text-shadow:-1px -1px #b3e4de;
    }
    #contact .form_printed p{
      width:80%;margin:0 auto 20px auto;
      background:url(img/form_printed_bg.png);
      color:#44b6ae;
    }
    #contact .form_printed span.title{
      margin-right:15px;
      text-shadow:1px 1px #44b6ae;
      font:bold 24px Audimat;
      color:white;

    }
  .a5648978{
    display: none !important;
  }
footer{
    padding-top:10px;
    width:100%;min-height:90px;
    font-size:14px;
    background:url(img/footer_bg.gif) repeat-x top;
    background-color:#44b6ae;
}
    #footer_container{
        width:960px;
        height:100%;
        margin:0 auto;
    }
        footer p{
            margin:10px 0 12px 0;width:100%;text-align:center;
        }
            footer p span{
                margin-right:10px;
            }





.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-width: 960px) {
    #menu{
        width:490px;height:38px;

    }
    #menu .right{
        left:0;width:490px;
    }
    #menu .right .nav_box{
        width:121px;
    }
    #menu .right .nav_box:first-child{
        width:124px;
    }
    #container .lang{left:467px;z-index:0;}

    }
}


@media screen and (max-device-width: 480px) {
#container .lang{left:-19px}
   html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; }
}

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}