{{ define "main" }}
{{ $pages := .Pages }}
{{ if .IsHome  }}
	{{ $pages = where site.RegularPages "Section" "post" }}
{{ end }}
{{ $paginator := .Paginate ($pages.ByDate.Reverse) }}
{{ if not .IsHome }}
	<div class="rp-page-header">
		<h1>Blog{{if ne .Kind "section" }}#{{ .Title }}{{ if gt .Paginator.PageNumber 1 }}::{{.Paginator.PageNumber}}{{ end }}{{ end }}</h1>
	</div>
{{ end }}
<div class="rp-Loop">
	{{ range $paginator.Pages }}
		{{ if .Content }}
		<article class="rp-Entry rp-Entry--in-loop">
			<div class="rp-Entry__main">
				{{ .Scratch.Set "link_in_title" true }}
				{{ partial "post/head.html" . }}
				
				<div class="rp-Entry__content wysiwyg-content">
					{{ if .Params.featured }}
					<div class="rp-Entry__thumbnail {{ with (eq .Params.featured "small") }}rp-Entry__thumbnail--small{{ end }}">
						{{ partial "post/featured" . }}
					</div>
					{{ end }}
					{{ if (or (strings.Contains .RawContent "<!--more-->") (not .Description)) }}
						{{ .Summary }}
					{{ else }}
						{{ .Description | markdownify }}
					{{ end }}
					<div class="rp-More">
						<a href="{{ .Permalink }}" class="rp-CTA">Read more&hellip; </a>
					</div>
				</div>
			</div>
		</article>
		{{ end }}
	{{ end }}
</div>

{{ template "_internal/pagination.html" . }}
{{ end }}
