<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="environment" value="{{ partialCached "tnd-env/Get" "Get" }}">
    <meta name="build_time" value="{{ now.Format "2006-01-02T15:04:05-0700" }}">
    {{ partial "tnd-seo/tags" . }}
    {{ partial "tnd-styles/tags" . }}
    {{ partial "tnd-scripts/tags" (slice "main" "legacy") }}
    {{ if .IsTranslated }}
      {{ range .Translations }}
        <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .RelPermalink }}"/>
      {{ end}}
    {{ end }}
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    {{ if partialCached "tnd-func/IsProduction" "IsProduction" }}
      {{ partialCached "ga" . }}
    {{ end }}
    <link rel="shortcut icon" type="image/png" href="{{ site.BaseURL }}/favicon.png"/>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <script>
    	var rpEnv = {{ .Site.Params.env }};
        var BaseURL = {{ .Site.BaseURL }};
        var rpWebroot = {{ .Site.BaseURL }};
        var contactFormApi = {{ .Site.Params.ContactFormApi }};
        var rpPrism = {{- default "true" .Site.Params.prism -}};
        {{- if .Site.GoogleAnalytics -}}
        var rp_ga = {{ .Site.GoogleAnalytics }};
        {{- else -}}
        var rp_ga = false;
        {{ end }}
    </script>
    <script>
        console.log('%cLike what you see ? 🍺 : 🤷‍', 'padding:4px 7px; font-size:14px; background: #ebf4f3; color: #44b6ae');
    </script>
</head>
