{{- $og := newScratch -}}
{{- $og.Set "title" (printf "%s | %s" .Title .Site.Title) -}}
{{- $og.Set "description" .Site.Params.Description -}}
{{ with .Summary }}
	{{- $og.Set "description" . -}}
{{ end }}
{{ with .Params.description }}
	{{- $og.Set "description" . -}}
{{ end }}
{{- with .Params.subtitle -}}
    {{- $og.Set "title" (printf "%s, %s | %s" $.Title . $.Site.Title) -}}
{{- end -}}
{{- if .IsHome -}}
	{{- $og.Set "title" (printf "%s | %s" .Site.Title (i18n "dev_title")) -}}
{{- end -}}
{{ if eq .Kind "taxonomy" }}
	{{- $og.Set "title" (printf "Archive for %s | %s" .Title .Site.Title) -}}
{{ end }}



{{- $og.Set "site_name" .Site.Params.Title -}}

{{- $og.Set "twitter_card" (default "summary" .Params.twitter_card) -}}
{{- $og.Set "twitter_handle" (printf "@%s" .Site.Params.twitter_handle) -}}

{{- $og.Set "image" ("images/rp_share.jpg" | absURL) -}}

{{- with .Resources.GetMatch "**featured*" -}}
	{{- $og.Set "image" .Permalink -}}
	{{- $og.Set "image_width" .Width -}}
	{{- $og.Set "image_height" .Height -}}
{{- end -}}

{{- $og.Set "type" "website" -}}
{{- if eq .Type "post" -}}
	{{- $og.Set "type" "article" -}}
{{- end -}}

{{- $locales := dict "fr" "fr_FR" "en" "en_US" -}}
{{- $og.Set "locale" (index $locales .Lang) -}}

<title>{{ $og.Get "title" }}</title>
<meta name="description" content="{{ $og.Get "description" }}">

<meta property="og:title" content="{{ $og.Get "title" }}">
<meta property="og:site_name" content="{{ $og.Get "site_name" }}">
<meta property="og:description" content="{{ $og.Get "description" }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="{{ $og.Get "type" }}">
<meta property="og:locale" content="{{ $og.Get "locale" }}">
<meta property="og:image" content='{{ $og.Get "image" }}'>
{{ with ($og.Get "image_width") }}
	<meta property="og:image:width" content="{{ . }}">
{{ end }}
{{ with ($og.Get "image_height") }}
	<meta property="og:image:height" content="{{ . }}">
{{ end }}

<meta name="twitter:card" content="{{ $og.Get "twitter_card" }}">
<meta name="twitter:title" content="{{ $og.Get "title" }}">
<meta name="twitter:site" content="{{ $og.Get "twitter_handle" }}">
<meta name="twitter:creator" content="{{ $og.Get "twitter_handle" }}">
<meta name="twitter:description" content="{{ $og.Get "description" }}">
<meta name="twitter:image" content="{{ $og.Get "image" }}">
