{{ $original := .dot }}
{{ if not (eq .dot.Lang "en") }}
	{{ range .dot.Translations }}

		{{ if eq .Lang "en" }}
			{{ $original = . }}
		{{ end }}
	{{ end }}
{{ end }}
{{ $featured := $original.Resources.GetMatch "**feature*" }}
{{ if $featured }}
{{ if eq .template "single" }}
	<div>
	{{ else }}
	<a 
		href="{{ .dot.RelPermalink }}"
	>
	{{ end }}
		<picture class="rp-project-media-img {{ with $featured.Params.border }}bordered{{ end }}">
			{{ range $width, $size := $.dot.Site.Params.imagesizes }}
				{{ $image := $featured.Resize (printf "%sx" $width)  }}
				<source srcset='{{ $image.RelPermalink}}' media='(max-width: {{ $width }}px)' />
			{{ end }}
			<img width="{{ $featured.Width }}" height="{{ $featured.Height }}" src="{{ $featured.RelPermalink }}" alt="" />
		</picture>
	{{ if eq .template "single" }}
	</div>
	{{ else }}
	</a>
	{{ end }}
{{ end }}