/* ==========================================================================
   HEADER
   ========================================================================== */
.rp-header{
    padding:35px 0 5px 0;
    background:$bg;
    text-align: center;
    border-bottom:1px solid $cHeaderBorder;
    position: relative;
}
.rp-header__emoji{
    display: none;
}
.nav-header--inline{
    display:inline;
}
.nav-sidebar--inline{
    display:none;
}
@media screen and (min-width:$xl) {
    .nav-header--inline{
    display:none;
    }
    .nav-sidebar--inline{
        display:inline;
    }
    body:not(.rp-section-note){
        padding-left:400px;
    }
    .rp-header{
        position: fixed;
        left:0;
        width:400px;
        height:100%;
        padding:22px;
        text-align: right;
        border-bottom: 0;
        border-right:1px solid $cHeaderBorder;
        .rp-container{
            padding:0 10px;
        }
    }
}

.rp-lang-switch{
    font-size: 11px;
    padding: 0 3px;
    a{
        color:$cBlack;
        padding:0.7em;
        display: inline-block;
        & + a{
            position: relative;
            &:before{
                content:"";
                height:1em;
                top:1.1em;
                width:1px;
                background-color:currentColor;
                position: absolute;
                left:-.2em;
            }
        }
    }
    text-transform: uppercase;
    position: absolute;
    top:0;
    left:0;
}
[data-pref-lang=ja] .rp-lang-switch{
    a span{
        display: inline;
    }
}
.rp-logo{
    max-width:250px;
}
.rp-brand{
    display: block;
}

.rp-baseline{
    margin:0;
    font-family: $ffAudimat;
    font-size: 28px;
    color:$cTurquoise;
    text-transform: uppercase;
    font-weight: 300;
}
@media screen and (min-width:$tablet){
    .rp-logo{
        max-width: 300px;
    }
}
@media screen and (min-width:$xl){
    .rp-brand{
        margin-bottom: 1rem;
    }
    .rp-header__emoji{
        display: block;
        position: absolute;
        font-size: 2.2em;
        top:.9rem;
        right:-0.5em;
    }
}

/* .rp-splash{
    .rp-header{
        height:100%;
        width:100%;
        position:fixed;
        top:0;
        z-index:1000;
        background-position:right 700px center;
        background-repeat:no-repeat;
        background-size:150px 150px;
        &:before{
            content:"◔‿◔";
            transition:opacity 150ms;
            position: absolute;
            display: block;
            color:$cTurquoise;
            width:100%;
            text-align: center;
            top:50%;
            margin-top:-0.5em;
            transform:rotate(0deg);
        }
        &.is-moving{
            &:before{
                opacity: 0;
            }
        }
        &.is-loading{
            &:before{
                animation:load-spin 1s infinite;
            }
        }
        .rp-contact{
            background-color: $cBackground;
        }
    }
    @media screen and (min-width:$xl){
        .rp-contact{
            display: inline-block;
            text-align: right;
            width:400px;
        }
    }
}
 */
html:not(.rp-splash) body[style]{
    padding-top:0 !important;
}