// Document << from bootstrap
//
// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// 2. Change the default font family in all browsers.
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 6. Change the default tap highlight to be completely transparent in iOS.
html {
	box-sizing: border-box; // 1
	font-family: sans-serif; // 2
	line-height: 1.15; // 3
	-webkit-text-size-adjust: 100%; // 4
	-ms-text-size-adjust: 100%; // 4
	-ms-overflow-style: scrollbar; // 5
	-webkit-tap-highlight-color: rgba(0,0,0,0); // 6
}

*,
*::before,
*::after {
	box-sizing: inherit; // 1
}

figcaption{
	text-align: left;
}

img{
	height: auto;
}